@import 'tailwindcss';

@theme {
  --font-darker-grotesque: sans-serif;
}


@font-face {
  font-family: 'Bero';
  src: url('/fonts/BeroBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}